**/target/
**/node_modules/
!.mvn/wrapper/maven-wrapper.jar
deployment-v*
*.mv.db
**/*.mv.db
*.trace.db
**/package-lock.json
**/yarn.lock
**/.yarnrc
**/*.log
**/*.log.gz
activepivot/src/main/resources/data/
activepivot/src/main/resources/data_poc/new_data/mc.csv
content-server-temp/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr

### Eclipse ###
/.metadata/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
data.zip
