# Spring Boot server port and compression
server:
  port: 9090
  compression:
    enabled: true
    mime-types: application/json,application/xml,application/javascript,text/html,text/xml,text/plain,text/css,text/javascript,image/jpeg,image/png,image/svg+xml

spring:
  application:
    name: "Pivot Spring Boot"
  main:
    banner-mode: log
  jmx.enabled: true
  output:
    ansi:
      enabled: ALWAYS

# Spring Boot actuator config
management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    elasticsearch.enabled: false

# Print the stores schema
schema:
  printer: false

# File to parse
file:
  trades: "data/trades.csv"

tech-user:
  passwords:
    pivot: "{bcrypt}$2a$10$87iR319r7HvSvs5k9.jutuDzjuKqO6riilSjl/9u2LGDpn4/7.1he"
    sba: "{bcrypt}$2a$10$QX8Im2Qh3s/qS9ypLlpEnuaVXtQTUz1XNS7goa9Ya7ofcZyuo2IdW"

# Properties used to configure the authentication based on JWT.
# You can execute JwtUtil to generate new keys.
activeviam.jwt:
  key:
    public: MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1KH0mXsDJr92kP06qxP/qOH+0+iFTYwjPL1Z+JfdRcTajyUhvJd4U7Gc5AQLc5RD2YwdTWSuo0FVRLajC/vnKm9revA3XXdvFv8IJKX6Ob79+yfje8JIpceNNJBj6TWM2S2NifG3cpASWBPk7T+7fPlpNWeAFw8hT400vQYhSGk9ePuTu2odU99T4KxHXGW1rk/PlAusqdw18Cvq/FzTWEcreW5mG3jQloHvUJWUfs/27EpWnTrMsFMH4ziKh7aKWFhY6sW3WKA6fsM1OgaWDBqKrudcPtBYshMEN1jM0KPhcmLcYo4YBhKSa1cpzna5pY7YFbqpbsvl6OQHSsyOMQIDAQAB
    private: MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDUofSZewMmv3aQ/TqrE/+o4f7T6IVNjCM8vVn4l91FxNqPJSG8l3hTsZzkBAtzlEPZjB1NZK6jQVVEtqML++cqb2t68Dddd28W/wgkpfo5vv37J+N7wkilx400kGPpNYzZLY2J8bdykBJYE+TtP7t8+Wk1Z4AXDyFPjTS9BiFIaT14+5O7ah1T31PgrEdcZbWuT8+UC6yp3DXwK+r8XNNYRyt5bmYbeNCWge9QlZR+z/bsSladOsywUwfjOIqHtopYWFjqxbdYoDp+wzU6BpYMGoqu51w+0FiyEwQ3WMzQo+FyYtxijhgGEpJrVynOdrmljtgVuqluy+Xo5AdKzI4xAgMBAAECggEAY4Eq4wwy7FYbGTy30Ml6EcE4rFga0bBr6Qe/a9s9nGHD2csJn6TOlXP/tKDD7yGKIusz5zzfkNyJF6/UW05V3oDnrk9tyVqT7RIJ8ISPtahQWNFQ3mCL+LCKvvd3GfKKaDOuEcjBDWaofvlIX1I83f4lou09fw0AjKbK8E5HEwf6YYcEt47AF9ac3t64706tTCHtBLYtVNw8thxtUTTq+7/Oe+9ZkBLvdKiZpWPILckIU09udpaEum3vf7tBgMY1Xyn5yO56IbWQ9q1t6t19QEnazgGhE63tZGioIAsLqI2Apb8cpslT8Bx9oHoF9sfx4eIRev3xDAmNLtwk7Ok+QQKBgQDvXBj4GTCh91WtnFCiN2MD59c6+utlop1GkfdfU/r7mq0LKJZX1psSb7vztoWNOOzDVMwHy4rPjHcGMX2FCI0PDK/keyZwaY4/Oayd8YWuuhxNnPa7OWMvTsW7YNvfhulUqyL3KLZZupdLvoe/jc9VT+UNw8ZE+J6q3XTdMnKk6QKBgQDjajGLmAugFY4+LGvwwNBn6Z6CQyxlr+3yIMTOdHxaEW9FEhUz/qmCjk+75Wi80/i8ggSh/YbtJbT5ytDfWY1QFDrSwG//gWHgDlXzEyc6j3G6wUCcb56NKLiMwMrPBkHMO0kw3FZymU6jMhFUQmQO1fXBS9uRS2i1/Kx1q41yCQKBgQDeE7/i6FQz4evvUPmLGAJZDFCoG0guGyr639D49E0IBeGJWdXrl2R3PY3Pt8e/WFJrhJBspw+aM0P3ThGcTWu6y9WiEhR+9aCRzqv2OrEChRBffkN5P+xjZx2UFXDKujxgXwvo7zAInlNjZlpCgoscJy1okPyy300vUJrt47F0iQKBgAXvCWfpCbSdm16H7jET9twfPmGLuybUFlNRA5GXfH8lIVAeDquSo32ilPYEIF188mqIwfIwGUsqxrQV1KlfPs6uGHLTTpjOGW2tMhTrlQR0JbWHwVXTm8F3JImXpjMMqL7ZdSlvNlo7IdAkSEt4h//TGVx3zDzYSN0mwKE5XrFxAoGBANNzlliDKfsGnHpIYCjIz1048kUI8I7yGueFukbOdXtyLWy5zsHPxmNI7QEwMQQO3N3kMNdLoF2ZbCUS0oymd0pfr3zJq55RpVAhg1zozmAwR0C9iQwgj6bAWfQfba0NE57MZ0UEGnpRMjUW/sEK16oAov7zQCdxfpZgzJ7CgvlK

# Content hibernate properties
content-service:
  embedded:
    hibernate:
      show_sql: false
      format_sql: true
      use_sql_comments: false
      generate_statistics: false
      # The following line should be removed once the table is created
      hbm2ddl.auto: update
      # Connection Provider
      connection:
        provider_class: org.hibernate.hikaricp.internal.HikariCPConnectionProvider
        autocommit: false
      hikari:
        maximumPoolSize: 10
        maxLifetime: 300000
        # we rely on the max lifetime
        idleTimeout: 0
        dataSourceClassName: org.h2.jdbcx.JdbcDataSource
        dataSource:
          url: "jdbc:h2:mem:content_service;DB_CLOSE_DELAY=-1;IGNORECASE=TRUE"
        poolName: ContentServer-ConnectionPool
