<?xml version="1.0" encoding="UTF-8"?>
<!-- Example LOGBACK Configuration File http://logback.qos.ch/manual/configuration.html -->
<configuration debug="true">
  <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
  <jmxConfigurator/>
  <conversionRule conversionWord="user" converterClass="com.activeviam.apm.logging.impl.LogUserConverter"/>

  <property name="PID" value="[%user]"/>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <!-- ############################################################################# -->
  <!-- # Explicit configuration of the various loggers (core and custom)           # -->
  <!-- #                                                                           # -->
  <!-- # Available levels are:                                                     # -->
  <!-- # ERROR (highest filtering)                                                 # -->
  <!-- # WARN                                                                      # -->
  <!-- # INFO                                                                      # -->
  <!-- # DEBUG                                                                     # -->
  <!-- # TRACE (lowest filtering)                                                  # -->
  <!-- # ALL (lowest filtering)                                                    # -->
  <!-- ############################################################################# -->

  <logger name="brave.Tracer" level="ERROR"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

  <!--
      Apply the levels defined here to the JUL loggers.
      Has to be called at the end, once all the loggers are defined
  -->
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>
</configuration>
